.block {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: var(--black);
  font-size: var(--fontSize);
  text-transform: uppercase;
  margin: var(--spacing) 0;
  background: var(--white);
  width: var(--blockSize);
  height: var(--blockSize);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.1rem;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
  /* transition: 0.3s; */
  /* animation: showTop 0.2s forwards; */
}

.active {
  color: var(--white);
  /* background: #eebf50; */
  order: 1;
  opacity: 0;
  cursor: default;
  pointer-events: none;
  /* position: absolute; */
}

.placeholder {
  opacity: 0;
  order: 1;
  cursor: default;
  pointer-events: none;
}

.displayBlock {
  border: 0.4rem solid #999;
  background: #ccc;
  transition: 0.4s;
}

.displayActive {
  animation: show 0.2s forwards;
}

@keyframes show {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes showTop {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0px);
  }
}

.done {
  background: #55ee50;
  color: var(--black);
}

.hide {
  cursor: default;
  pointer-events: none;
  animation: hide 0.2s forwards linear;
  /* display: none; */
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(0);
    position: absolute;
  }
}
