.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.button {
  display: block;
  border: none;
  background: var(--white);
  padding: 1rem 3rem;
  border-radius: 0.1rem;
  text-transform: uppercase;
  /* letter-spacing: 0.1rem; */
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
}
